.navbar {
    /* width: 80%; */
    padding: 10px 0;
    width: 100%;
}

.logo {
    width: 65px;
    margin-left: 30px;
}

.headerText {
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}

.faucet {
    font-weight: bold;
    margin-right: 10px;
}

.wallet {
    font-weight: bold;
    margin-right: 30px;
}

.disconnect {
    font-weight: bold;
    margin-right: 30px;
}