body {
    background-color: rgb(21, 26, 47);
}

.swap {
    margin-top: 60px;
    width: 600px;

    .selectionWrapper {
        padding: 5px 10px;
        background-color: rgb(33, 38, 62);
        border-radius: 1.25rem;
        margin-top: 30px;

        .title {
            color: #c3c5cb;
            font-size: 23px;
            margin: 10px 25px;
            border-style: solid;
            border-width: 1px;
            border-top: none;
            border-right: none;
            border-left: none;
            // border-bottom: none;
            border-width: 0.1px;
            padding: 10px 0px;
            border-color: gray;
        }

        .direction {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }


        .createButton {
            // padding: 1rem 20px;
            width: 100%;
            height: 45px;
            max-width: 180px;
            font-weight: 500;
            text-align: center;
            border-radius: 12px;
            outline: none;
            border: 1px solid transparent;
            display: flex;
            justify-content: center;
            cursor: pointer;
            z-index: 1;
            background: linear-gradient(to right, rgb(115, 76, 226), rgb(96, 107, 251));
            margin: 2rem auto;
            color: rgb(255, 255, 255)
        }
    }

    .tableHeader {
        background-color: rgb(255, 255, 255);
        border-bottom: none;
    }


    .tableBody {
        width: 100%;
        border-radius: 0.5625rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgb(255, 255, 255);
        margin-bottom: 0.625rem;
        font-size: 12px;

        .buyButtonWrapper {
            display: flex;
            justify-content: center;
            width: 100%;

            .buyButton {
                width: 80%;
            }
        }
    }
 

    .tip {
       text-align: center;
       margin-top: 10px;
       font-size: medium;
    }
 
}